<h1>Tech Blog</h1>
{{#each allBlogPosts}}
    <a href="/blogpost/{{id}}"><span>{{title}} by {{user.name}}</span></a>
    <p>Date: {{date_created}}</p>
    <hr>
{{/each}}

<script src="/js/index.js"></script>